body {
  font-family: "Trebuchet MS";
  font-size: 5vh;
  overflow: hidden;
}
* {
  margin: 0;
}
#image {
  width: 100vw;
  height: 100vh;
}
#timeDiv {
  position: absolute;
  left: 1em;
  top: calc(100vh - 5em);
  color: white;
}
#closeButton {
  position: absolute;
  top: -0.1em;
  left: calc(100vw - 1em);
  font-size: 100%;
  color: gray;
  background-color: transparent;
  border: 0;
}
#centerHidden {
  position: absolute;
  top: calc(50vh - 1em);
  left: calc(50vw - 1em);
  width: 2em;
  height: 2em;
  cursor: none;
}
